[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
pillow = "*"
bootstrap4 = "*"
django-bootstrap4 = "*"
djangorestframework = "*"
pyjwt = "*"
django-environ = "*"
openpyxl = "*"
requests = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
