{% extends 'base.html' %} {% load static %} {% block content %}

<style>
  .container {
    padding: 0;
    margin: 0 auto;
  }

  .container a {
    width: 45%;
    max-width: 250px;
  }

  .container div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }

  .container img {
    width: 100%;
    border-radius: 1rem;
  }
</style>

<div class="inner" style="margin-top: 120px">
  <div class="pragmatic_header" style="text-align: center">
    <div>
      <a href="{% url 'articles:list' %}">
        <h3 style="font-size: 40px">FOREVER-ish Life</h3>
      </a>
    </div>
  </div>

  {% if article_list %}
  <div class="container">
    {% for article in article_list %}
    <a href="{% url 'articles:detail' pk=article.pk %}">
      {% include 'partials/card.html' with article=article %}
    </a>
    {% endfor %}
  </div>
  <!-- (매직그리드 라이브러리 활용) 스크립트에서 src도 연결해주어야함 -->
  <script src="{% static 'js/magicgrid.js' %}"></script>
  {% else %}
  <div style="text-align: center">
    <h1>No Articles Yet!</h1>
  </div>
  {% endif %} {% include 'partials/pagination.html' with page_obj=page_obj %}

  <div style="text-align: center">
    {% if user.is_authenticated %}
    <a
      href="{% url 'articles:create' %}"
      class="btn btn-dark rounded-pill mt-3 mb-3 px-3"
    >
      Create Articles
    </a>
    {% else %}
    <a
      href="{% url 'users:login' %}"
      class="btn btn-dark rounded-pill mt-3 mb-3 px-3"
    >
      Log-in
    </a>
    {% endif %}
  </div>
</div>

{% endblock %}
