{% extends "base.html" %}


{% block content %}


<!-- head_image가 있는 경우 이미지 렌더링하기   -->
{% if post.head_image %}
    <img class="img-fluid rounded" src="{{target_news.profile.image.url}}" alt="{{post.title}} head image">
{% else %}
    <img class="img-fluid rounded" src="https://picsum.photos/seed/{{post.id}}/800/200" alt="random image">
{% endif %}

  <!-- 첨부파일이 있는 경우 다운로드 버튼 만들기 -->
  {% if target_news.file_upload %}
    <a href="{{target_news.file_upload.url}}" class="btn btn-outline-success" role="button">
      Download:
    
      {% if target_news.get_file_ext == 'csv' %}
        <i class="fa-regular fa-file-csv"></i>
      {% elif target_news.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
        <i class="fa-regular fa-file-excel"></i>
      {% elif target_news.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
        <i class="fa-regular fa-file-doc"></i>
      {% elif target_news.get_file_ext == 'pdf' %}
        <i class="fa-regular fa-file-pdf"></i>
      {% else %}
      <i class="fa-regular fa-file"></i>
      {% endif %}
      
      {{target_news.get_file_name}}
    </a>
  {% endif %}





{% endblock %}