{% extends 'base.html' %} 
{% load bootstrap4 %}

{% block content %}
  <div style="margin-top: 120px;">
    <div style="text-align:center; max-width: 500px; margin: 4rem auto;">
      <!-- mb 는 margin-bottom으로, mb-4는 기존 bottom 크기의 4배 키운다는 말 -->
      <div class="mb-4">
        <h4>Update Profile</h4>
      </div>
      <!-- 업데이트도 이미지 파일이 들어 있기 때문에 enctype속성추가(enctype="multipart/form-data") -->
      <form action="{% url 'profiles:update' pk=target_profile.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {{form}} -->
        {% bootstrap_form form %}
        
        <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3" value="POST" />
        
      </form>
    </div>
  </div>
  
  
{% endblock %}